# Dependencies
node_modules/

# Environment files
.env
.env.local

# Logs
logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Uploads (usually you don't want to commit these)
uploads/
